.container-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 3rem;
  .box-img {
    flex: 1;
    position: relative;
    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      z-index: 1;
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      height: 65%;
      width: 70%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      background-image: linear-gradient(
        to right top,
        #fdc6ff,
        #e6d1ff,
        #d2dbff,
        #c6e3ff,
        #c5e8ff
      );
      bottom: 0;
      left: 50%;
      transform: translateX(-55%);
      right: 0;
    }
    .detail {
      width: 15%;
      background: var(--main-background);
      display: flex;
      gap: 10px;
      padding: 10px 2rem;
      position: absolute;
      z-index: 1;
      box-shadow: 0 5px 10px #bababa;
      .detail-title {
        display: flex;
        flex-direction: column;
        span {
          &:nth-child(1) {
            font-weight: bold;
            font-size: large;
          }
        }
      }
    }
    #detail_1 {
      border-radius: 20px;
      top: 20%;
    }
    #detail_2 {
      bottom: 0;
      border-radius: 20px;
    }
    #detail_3 {
      bottom: 20%;
      right: 0;
      border-radius: 20px;
    }
  }

  .box-detail {
    flex: 1;
    margin-left: 2rem;
    flex h1 {
      font-size: 3rem;
      color: rgb(57, 57, 57);
    }
    p {
      width: 80%;
      color: rgb(172, 172, 172);
      font-size: x-large;
    }
  }
}
