.about-us-banner {
  margin-top: 6rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  .box-detail {
    flex: 2;
    p {
      //   width: 80%;
      font-size: larger;
    }
    h1 {
      font-size: 3rem;
      text-transform: capitalize;
    }
    .booking {
      margin-top: 70px;
      padding: 20px 2rem;
      font-size: larger;
      background: var(--main-background-logo);
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .box-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      height: 100%;
    }
  }
}
